* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612178951_99-p-fioletovii-fon-yaponiya-122.jpg);
}

/* Header */

li {
  list-style: none;
}

.wrapper {
  display: block;
  display: flex;
  flex-direction: row;
  font-size: 25px;
  color: #ff0000;
}

.inst {
  width: 25px;
}

.vk {
  width: 25px;
}

.telega {
  width: 25px;
}

.menu-top {
  margin-right: 50px;
  display: flex;
}

.menu {
  width: 250px;
  display: inline-block;
}

.menu .submenu {
  display: inline-block;
  background-color: #810000;
  padding: 5px;
}

.submenu .menu-item {
  width: 100%;
}

.submenu .menu-item:not(:last-child) {
  margin-bottom: 5px;
}

.submenu {
  position: absolute;
  visibility: hidden;
  width: 130px;
  opacity: 0;
  background-color: #2b532e;
}

.menu-item:hover > .submenu {
  visibility: visible;
  z-index: 1;
  left: 10px;
  opacity: 1;
  transition: 1s;
}

.submenu .menu-item:hover > .submenu {
  left: 60px;
  top: -5px;
  opacity: 1;
  transition: 1s;
}

.menu-item {
  padding: 5px;
  margin: 5px;
  transition: 1s;
  position: relative;
}

.menu-item:hover {
  cursor: pointer;
}

.menu .meni-item {
  display: inline-block;
}

.menu a {
  display: block;
  padding: 5px;
}

/* Main */

a {
  text-decoration: none;
  color: #ff0000;
}

a:hover {
    color: #ffffff;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}